@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // font-family: 'Hind', sans-serif;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

// :root {
//     --name-bg-color: rgba(255, 166, 0, 0.1);
//     --button-bg-color: rgba(219, 156, 39, 0.5);
//     --hover-button-bg-color: rgba(255, 222, 160, 0.5);
// }

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position:fixed;
    padding:0;
    // margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    .main-menu {
        transition: all 0.5s;
        transform: translateX(-100%);

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // display: none;

        .chips {
            display: grid;
            grid-template-rows: repeat(2, 1fr) repeat(3, 0.6fr);
            grid-template-columns: 1fr;
            grid-template-areas: 
                "name"
                "."
                "about"
                "work"
                "contact";
            row-gap: 15px;

            width: 80%;

            @media only screen and (min-width: 1200px) {
                width: 40%;
            }

            span {
                color: white;
                text-align: center;

                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                width: 100%;
            }
            
            .button {
                transition: all 0.4s;
            }

            .button:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            .name {
                grid-area: name;
            
                font-size: 50px;
                padding: 10px;
            }

            .about {
                grid-area: about;
            
                font-size: 30px;
                padding: 10px;
            }

            .work {
                grid-area: work;
            
                font-size: 30px;
                padding: 10px;
            }

            .contact {
                grid-area: contact;
            
                font-size: 30px;
                padding: 10px;
            }
        }
    }

    .section {
        transition: all 0.5s;

        height: 100%;
        width: 100%;
        // overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.5);
        
        color: white;

        font-size: 20px;
        padding: 15px;

        @media only screen and (min-width: 768px) {
            font-size: 25px;
            padding: 30px;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 20px;
            height: 80%;
            width: 60%;
            border-radius: 50px;
            margin: auto;
            // transform: translateY(-112.5%);
        }

        .back {
            display: flex;
            justify-content: center;

            i {
                position: absolute;
                font-size: 40px;
                top: 10px;
            }
        }

        .back-bottom {
            display: flex;
            justify-content: center;

            i {
                font-size: 40px;
            }
        }
    }

    .about-section {
        transform: translateX(100%) translateY(-112.5%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(200%) translateY(-112.5%);
        }

        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .text {
            margin-top: 35px;
            p {
                a {
                    color: white;
                }
    
                em {
                    font-style: italic;
                }
            }

            @media only screen and (min-width: 768px) {
                margin-top: 0px;
            }
        }
    }

    .work-section {
        transform: translateX(100%) translateY(-200%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(200%) translateY(-212.5%);
        }

        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        .text {
            h3 {
                font-weight: 500;
                font-size: 30px;
                margin-bottom: 10px;
            }

            em {
                font-style: italic;
            }

            p {
                b {
                    font-weight: 500;
                }

                // a {
                //     color: white;
                // }

                white-space: pre-line;
                margin-bottom: 5px;
            }

            a {
                display: inline-block;
                color: white;
                margin-bottom: 10px;
            }

            margin-top: 35px;
        }
    }

    .work-section::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .contact-section {
        transform: translateX(100%) translateY(-300%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(200%) translateY(-312.5%);
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            
            .link {
                i {
                    margin-right: 6px;
                }

                .fa-linkedin {
                    margin-right: 9px;
                }

                a {
                    color: white;
                    text-decoration: underline;
                }

                display: block;
                font-size: 30px;

                @media only screen and (min-width: 768px) {
                    font-size: 40px;
                }
            }
        }
    }

    .main-menu.active {
        transform: translateX(0%);
    }

    .about-section.active {
        transform: translateX(0%) translateY(-100%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(0%) translateY(-112.5%);
        }
    }

    .work-section.active {
        transform: translateX(0%) translateY(-200%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(0%) translateY(-212.5%);
        }
    }

    .contact-section.active {
        transform: translateX(0%) translateY(-300%);

        @media only screen and (min-width: 1200px) {
            transform: translateX(0%) translateY(-312.5%);
        }
    }
}